html {
  font-family: Georgia, serif;
  padding: 0px 12px 24px;
  background-color: #eee;
  color: #111;
}

h1 {
  margin: 1em 0;
  font-size: 24px;
}

#root {
  width: 555px;
  margin: auto;
}

.layer {
  $margin-x: 12px;
  $margin-y: 6px;

  display: flex;

  margin: $margin-y $margin-x;

  .thumb {
    flex: none;

    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-right: $margin-x;

    img {
      $size: 42px;
      width: $size;
      height: $size;
    }
  }

  .words {
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;

    .title {
      font-size: 18px;

      margin-bottom: 1px;

      opacity: 0.9;

      font-family: Georgia, serif;
      .subtitle {
        font-family: sans-serif;
        font-style: normal;
        font-size: 14px;
        font-weight: normal;

        margin-left: 0.3em;
      }
    }

    .text {
      font-size: 14px;
      font-style: italic;

      opacity: 0.8;
    }
  }
}
